<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alexsalupa97.bloodbank">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_bloodbank_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_bloodbank_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activitati.DetaliiSuplimentareIstoricActivity"
            android:screenOrientation="portrait"
            android:label="Istoric donatii"></activity>

        <receiver android:name=".Notificari.NotificariBroadcast" />
        <receiver android:name=".Notificari.ActionCentreBroadcast" />

        <activity
            android:name=".Activitati.AlerteActivity"
            android:label="Alerte"
            android:parentActivityName=".Activitati.PrimaPaginaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitati.ProfilActivity"
            android:label="Profil"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBE1jrSJ9YLCfgW2ATJxrPJTM6uGq50yAs" />

        <activity android:name=".Activitati.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activitati.SigninActivity"
            android:label="Sign In"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Activitati.SignupActivity"
            android:label="Sign Up" />
        <activity android:name=".Activitati.AlegereLoginActivity" />
        <activity
            android:name=".Activitati.PrimaPaginaActivity"
            android:label="Pagina Principala"
            android:launchMode="singleInstance"></activity>
        <activity android:name=".Activitati.IntrebariActivity" />
        <activity
            android:name=".Activitati.ListaCentreActivity"
            android:label="Lista centrelor"
            android:parentActivityName=".Activitati.PrimaPaginaActivity" />
        <activity android:name=".Activitati.FinalizareFailIntrebariActivity" />
        <activity
            android:name=".Activitati.CompatibilitatiActivity"
            android:label="Compatibilitati" />
        <activity android:name=".Activitati.AnalizeNeefectuateActivity" />
        <activity android:name=".Activitati.AnalizeNotOkActivity" />
        <activity android:name=".Activitati.FinalizareSuccesIntrebariActivity" />
        <activity android:name=".Activitati.DetaliiCTSActivity" />
    </application>

</manifest>