<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ro.alexsalupa97.bloodbank">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_bloodbank_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_bloodbank_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity android:name=".Activitati.QRActivity"
            android:label="Scanati codul QR"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Activitati.ActualizareStareAnalizeActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitati.StatisticiCTSActivity"
            android:label="Statistici"
            android:screenOrientation="portrait" />
        <activity android:name=".Activitati.TransparentActivityCTS" />
        <activity
            android:name=".Activitati.DetaliiCTSMainActivity"
            android:label="Detalii CTS"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitati.ProgramareActivity"
            android:label="Programare"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitati.TransparentReceiverActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentCompat" />
        <activity
            android:name=".Activitati.StatisticiReceiverActivity"
            android:label="Statistici"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitati.DetaliiReceiverMainActivity"
            android:label="Pagina mea"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitati.DetaliiReceiverActivity"
            android:label="Detalii receiver"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitati.ListaReceiveriActivity"
            android:label="Lista receiverilor"
            android:screenOrientation="portrait" />
        <activity android:name=".Activitati.TestActivity" />
        <activity
            android:name=".Activitati.SetariActivity"
            android:label="Setari"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitati.TransparentActivity"
            android:theme="@style/TransparentCompat" />
        <activity
            android:name=".Activitati.DetaliiSuplimentareIstoricActivity"
            android:label="Istoric donatii"
            android:screenOrientation="portrait" />

        <receiver android:name=".Notificari.NotificariBroadcast"
            android:exported="true"/>
        <receiver android:name=".Notificari.ActionCentreBroadcast" />
        <receiver android:name=".Notificari.ActionAlerteBroadcast" />
        <receiver
            android:name=".Notificari.BootCompletedReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="RestartService" />
            </intent-filter>
        </receiver>

        <service
            android:name=".Notificari.NotifyingDailyService"
            android:enabled="true" />

        <service android:name=".Notificari.TestJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <service
            android:name=".Notificari.TestJobIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider{818772775150445}"
            android:exported="true" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_APP_ID" />

        <activity
            android:name=".Activitati.AlerteActivity"
            android:label="Alerte"
            android:parentActivityName=".Activitati.PrimaPaginaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitati.ProfilActivity"
            android:label="Profil"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBE1jrSJ9YLCfgW2ATJxrPJTM6uGq50yAs" />

        <activity android:name=".Activitati.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activitati.SigninActivity"
            android:label="Sign In"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Activitati.SignupActivity"
            android:label="Sign Up"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Activitati.AlegereLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitati.PrimaPaginaActivity"
            android:label="Pagina Principala"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitati.IntrebariActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitati.ListaCentreActivity"
            android:label="Lista centrelor"
            android:parentActivityName=".Activitati.PrimaPaginaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitati.FinalizareFailIntrebariActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitati.CompatibilitatiActivity"
            android:label="Compatibilitati"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitati.AnalizeNeefectuateActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitati.AnalizeNotOkActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitati.FinalizareSuccesIntrebariActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitati.DetaliiCTSActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>